html 
{
    height: 100%;
}
body 
{
    height: 100%;
    margin: 0;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.title h1
{
    margin-top: 6%;
    font-size: 2.7vw;
    font-family: 'Raleway', sans-serif;
    color: #4A4A4A;
}

/*form*/

.reset_form
{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    background-size: cover;
    font-family: 'Poppins';
    margin-top: 3%;
    margin-left: 35%;
    margin-right: 35%;
    padding: 40px;
    text-align: center;
}

.reset_form a
{
    font-size: 10px;
    padding: 0;
    text-decoration: none;
    color: #4A4A4A;
}

.reset_form a:hover
{
    text-decoration: underline;
}



input
{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #4A4A4A;
    text-align: center;
    font-size: 22px;
    width: 150px;
    transition: all 0.3s;
    outline: none;
}

input:focus
{
    width: 300px;
    border-bottom: 2px solid #585858;
}


/*button*/
button
{
    font-family: 'Poppins';
    padding: 5px 25px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5px;
    font-size: 16px;
    background-color: transparent;
    color: black;
    border: 2px solid #4A4A4A;
    border-radius: 2px;
}
button:hover
{
    background-color: #4A4A4A;
    color: white;
    transition-duration: 0.2s;
}