body
{
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    background-blend-mode: normal, multiply;
}
.wrapper
{
    margin-top: 0px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

/*top bar list*/

.top_bar
{
    font-family: 'Raleway', sans-serif;
}

.top_bar ul
{
    list-style-type: none;/*no dot*/
    margin: 0;
    padding: 0;
}

.top_bar li
{
    float: left;
}

.top_bar li a 
{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.2s;
}

.top_bar li a:hover
{
    background:rgba(70,73,76,0.1);
}

/*title block*/

.title
{
    background: #f9f9f9;
    padding-top: 56px;
    padding-bottom: 40px;
    border-radius: 5px;
}

.title h1
{
    font-size: 2.7vw;
    font-family: 'Raleway', sans-serif;
    color: #4c5c68;
}

button
{
    padding: 12px 30px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.15vw;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    color: black;
    border: 2px solid #4c5c68;
    border-radius: 6px;
    transition-duration: 0.1s;
    cursor: pointer; /*show hand when hover*/
}

button:hover
{
     background-color: #4c5c68;
     color: white;
}


/*center intro1 todolist*/

.intro img
{
    padding-top: 4%;
    /*float: left;*/
    margin-left: 13%;
    transition: all 0.3s;
}

.intro img:hover
{
    transform: translateY(-13%);
}

.intro_text
{
    float: left;
    width: 45%;
}

/*intro_text文字區塊*/
.intro_text h1
{
    font-family: 'Droid Sans', sans-serif;
    text-align: left;
    margin-top: 15%;
    font-size: 2.6vw;
    color: #4c5c68;
}

.intro_text p
{
    text-align: left;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vw;
}

/*list intro 用list來讓intro垂直並排*/
.list_intro ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    
}

.list_intro li a 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    
}

.list_intro li a 
{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.intro_form /*intro面板*/
{
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 8%;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: thick solid #dcdcdd;
}