body
{
    text-align: center;
    background-size: cover;
    
}

.background
{
    background-image: url(../img/StockSnap_CNX0YRPW0F-compressor.jpg);
   
    background-size: cover;
   
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /*!!*/
}

.title h1
{
    margin-top: 6%;
    font-size: 2.7vw;
    font-family: 'Raleway', sans-serif;
    color: #4A4A4A;
}

/*form*/

.login_form
{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    background-size: cover;
    font-family: 'Poppins';
    margin-top: 3%;
    margin-left: 35%;
    margin-right: 35%;
    padding: 40px;
    text-align: center;
}

.login_form a
{
    font-size: 10px;
    padding: 0;
    text-decoration: none;
    color: #4A4A4A;
}

.login_form a:hover
{
    text-decoration: underline;
}



input
{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #4A4A4A;
    text-align: center;
    font-size: 22px;
    width: 150px;
    transition: all 0.3s;
    outline: none;
}

input:focus
{
    width: 300px;
    border-bottom: 2px solid #585858;
}


/*button*/
button
{
    font-family: 'Poppins';
    padding: 5px 25px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5px;
    font-size: 16px;
    background-color: transparent;
    color: black;
    border: 2px solid #4A4A4A;
    border-radius: 2px;
}
button:hover
{
    background-color: #4A4A4A;
    color: white;
    transition-duration: 0.2s;
}