html 
{
    height: 100%;
}
body 
{
    height: 100%;
    margin: 0;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

#colon
{
    display: inline;
    font-family: Jaldi;
    font-size: 120px;
    color: #4c5c68;
}

#min, #sec
{
    display: inline;
    font-family: Jaldi;
    font-size: 120px;
    border: none;
    width: 1em;
    background-color: transparent;
    color: #4c5c68;
}

/*timer*/
.timer_class
{
    background-color: rgba(250, 250, 250, 0.8);
    margin: 8% auto;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


/*button*/
#control_btn
{
    font-family: 'Jaldi';
    padding: 2px 20px;
    text-align: center;
    font-size: 25px;
    background-color: transparent;
    color: black;
    border: 2px solid #4A4A4A;
    border-radius: 3px;
    border: none;
}

#control_btn:hover
{
    background-color: #4c5c68;;
    color: white;
    transition-duration: 0.1s;
}

textarea:focus, input:focus
{
    outline: none;
}