@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

html 
{
    height: 100%;
}
body 
{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}

/*todo*/
.todolist
{
    background-color: rgba(250, 250, 250, 0.9);
    margin: 8% auto;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
}

.todolist h1
{
    font-family: 'Droid Sans', sans-serif;
    color: #4c5c68;
}

.todolist label
{
    font-family: 'Roboto', '微軟正黑體', sans-serif;
}

.todolist li
{
    padding: 10px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    border-color: #dcdcdd;
}

.todolist li:hover .delete_btn
{
    visibility: visible;
}

.delete_btn
{
    visibility:hidden;
    float: right;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.15vw;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    color: black;
    border: none;
    outline: none;
}

.delete_btn:hover
{
    color: #f6ac73;
}

.add-todo
{
    margin: 10px;
    outline: none;
}


.input-todo
{
    border: none;
    width: 220px;
    padding: 10px;
    font-family: 'Roboto', '微軟正黑體', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.5s;
    outline: none;
    background-color: white;
}

.input-todo:focus
{
    width: 500px;
}


.submit_btn
{
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    color: #787878;
}

.submit_btn:hover
{
    background-color: #77878b;
    color: white;
}

.submit_btn:hover + .input-todo
{
    width: 330px;
}

.todolist input[type="checkbox"]:checked + label /*if done, 刪除線*/
{
    text-decoration: line-through;
    color: #a8a8a8;
}


input[type="checkbox"] 
{
    display: none;
}

label 
{
    cursor: pointer;
}

input[type="checkbox"] + label:before 
{
    background-color: #c9c9c9;
    content: "\00a0";
    display: inline-block;
    font: 16px/1.1em sans-serif;
    margin: 0 .35em 0 0;
    padding:0;
    height: 18px;
    width: 18px;
    border-radius: 18px;
}

input[type="checkbox"]:checked + label:before 
{
    top: 0;
    left: 10px;
    background: #c9c9c9;
    color: #f7f7f7;
    content: "\2714";
    text-align: center;
}

ul
{
    list-style-type: none;/*no dot*/
    margin: 0;
    padding: 0;
}

p
{
    font-size: 16px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}