/*top bar list*/

.wrapper
{
    margin-top: 0px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.top_bar
{
    font-family: 'Raleway', sans-serif;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
}

.top_bar ul
{
    list-style-type: none;/*no dot*/
    margin: 0;
    padding: 0;
}

.top_bar li
{
    float: left;
}

.top_bar li a 
{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.top_bar li a:hover
{
    background:rgba(70,73,76,0.1);
    transition: all 0.2s;
}